@model GamingForum.Models.Category
<h2>Editare categorie</h2>
<form method="post" action="/Categories/Edit/@Model.CategoryId">
    @Html.HttpMethodOverride(HttpVerbs.Put)
    @Html.HiddenFor(m => m.CategoryId)
    @Html.Label("CategoryName", "Denumire Categorie")
    <br/><br/>
         <div class="form-control">
             @Html.Editor("CategoryName")
             <br />
             <br />

             <button type="submit"><i class="glyphicon glyphicon-check"></i> Modifica categorie</button>
         </div>



</form>
