@model GamingForum.Models.Category
@{
    ViewBag.Title = "Index";
}
@if (!string.IsNullOrEmpty(ViewBag.message))
{
    <script type="text/javascript">
        alert("@ViewBag.message");
    </script>
}


<h2>Afisare categorii</h2>
<div class="panel panel-heading">
    @Html.Label("CategoryName", "Nume Categorii:")

</div>
<br/>
<div class="panel panel-body">

    @foreach (GamingForum.Models.Category category in ViewBag.Categories)
    {

        @Html.Partial("CategoryInfo", category)
        <a class="btn btn-success" href="/Categories/Show/@category.CategoryId">Afisare categorie</a>
        <a class="btn btn-success" href="/Categories/Edit/@category.CategoryId">Editeaza categorie</a>
        <br/><br />
    }
    <br /><br /><br />
    <a class="btn btn-default" href="/Categories/New">Adauga categorie</a>

</div>

