@{
    ViewBag.Title = "New";
}
<h2>Adaugare categorie</h2>
<form method="post" action="/Categories/New">
    <label>Nume Categorie</label>
    <input type="text" name="CategoryName" />
    <br />

    <button type="submit">Adauga categorie</button>
</form>