@model GamingForum.Models.Category
@{
    ViewBag.Title = "Lista Categorii: ";
}
<br/>
<p>Categorie: @Model.CategoryName</p>
<div class="panel panel-default">
    @Html.Partial("CategoryInfo", Model)
    <form method="post" action="/Categories/Delete/@Model.CategoryId">
        @Html.HttpMethodOverride(HttpVerbs.Delete)
        <button class="btn btn-danger" type="submit">Sterge categorie</button>
    </form>

    <hr />
    <a class="btn btn-info" href="/Categories/Index">Inapoi la categorii</a>
    <a class="btn btn-info" href="/Categories/Index">Inapoi la topic-uri</a>

</div>
