
<div class="panel-heading" style="position:relative;left:0%;">
    @Model.Title
<span class="label label-success" style="position:absolute;right:1%;">@Model.Date</span>
<div class="hey2" style="position:absolute;right:15%;top:20%;">
    <i class="glyphicon glyphicon-user"></i>
    <strong> @Model.User.UserName</strong>
</div>
</div>
<div class="panel-body">
</div>