@model GamingForum.Models.Topic
@{
    ViewBag.Title = "Index";
}
@if (!string.IsNullOrEmpty(ViewBag.message))
{
    <script type="text/javascript">
        alert("@ViewBag.message");
    </script>
}

<h2>Afisare topic-uri</h2>
<a class="btn btn-primary" href="/Topics/New">Adauga un topic</a>

<a class="btn btn-primary" href="/Categories/Index">Afisare categorii</a>

@foreach (GamingForum.Models.Topic topic in ViewBag.Topics)
{
    <div class="panel panel-default">
        @Html.Partial("TopicInfo", topic)

        <div class="panel panel-footer">
            <a class="btn btn-success" href="/Topics/Show/@topic.Id">Afisare topic</a>
        </div>
    </div>
}
