
@{
    /**/

    ViewBag.Title = "Index";
}

<ol class="breadcrumb" style="background-color:#deeaff;">
    <li><h3>@ViewBag.Title</h3></li>
</ol>

    @foreach (var user in ViewBag.UserList)
    {
        <div class="panel panel-body" style="background-color: #deeaff; border: 5px solid #050938;border-radius:7px;">



            <div class="panel-heading">Nume utilizator: @user.UserName</div>
            <div class="panel-body">
                <i class="glyphicon glyphicon-envelope"></i> Email utilizator: <span class="label label-default">@user.Email</span>
                <br />
                <br />
                @if (user.PhoneNumber != null)
                {
                    <i class="glyphicon glyphicon-phone"></i>@:Telefon user:<span class="label label-default">@user.PhoneNumber</span>
                }
            </div>
            <div></div>
            <div class="panel-footer" style="background-color:#deeaff">
                <a class="btn btn-sm btn-success" href="/User/Edit/@user.Id">
                    <i class="glyphicon glyphicon-pencil"></i>
                    Editare
                    utilizator
                </a>
                <a class="btn btn-sm btn-success" href="/User/Show/@user.Id">
                    <i class="glyphicon glyphicon-arrow-right"></i>
                    Vizualizare
                    utilizator
                </a>
            </div>
        </div>
    }
</>
