@model GamingForum.Models.Category
@{
    ViewBag.Title = "Index";
}
@if (!string.IsNullOrEmpty(ViewBag.message))
{
    <script type="text/javascript">
        alert("@ViewBag.message");
    </script>
}

<style>

    .hey {
        background-color: rgba(255, 180, 76, 0.76);
        border-radius: 0px;
        border: 5px solid #050938;
        color: #fdfffc;
        font-family: Arial;
        font-size: 25px;
        font-weight: bold;
        margin: 10px;
        height: 45px;
        width: 450px;
        position: relative;
        left: 30%;
    }

    .titlu {
        background-color: #3e4d73;
        border: 5px solid #050938;
        border-radius: 40px;
        text-align: center;
        font-size: 50px;
        padding: 30px;
        color: white;
        font-weight: bold;
        font-family: Papyrus;
    }

    .myButton {
        box-shadow: inset 38px 0px 0px -12px #050938;
        background-color: #477890;
        border-radius: 7px;
        border: 3px solid #050938;
        display: inline-block;
        cursor: pointer;
        color: #fdfffc;
        font-family: Arial;
        font-size: 16px;
        font-weight: bold;
        padding: 0px 0px 0px 45px;
        text-decoration: none;
        height: 50px;
        width: 100%;
    }

        .myButton:hover {
            background-color: #FF9B42;
        }

        .myButton:active {
            position: relative;
            top: 1px;
        }
</style>
<br />

<div class="titlu">
    GamingForum
    </br>
</div>

<body style="background-color:#deeaff;">
    <div class="panel panel-body" style="background-color: #3e4d73; border: 5px solid #050938;">

        @foreach (GamingForum.Models.Category category in ViewBag.Categories)
        {
            <div class="panel panel-default" style="background-color: #3e4d73;border: 9px outset #1C6EA4;padding:10px;">


                <div class="hey" style="">
                    <div class="panel-danger" style="text-align: center;color: #ffffff;">
                        @category.CategoryName
                    </div>


                </div>

                @foreach (GamingForum.Models.Topic topic in ViewBag.Topics)
                {
                    if (category.CategoryId == topic.CategoryId)
                    {
                        <div class="panel panel-default" style="height:40px;background-color:#3e4d73;border: 0px">
                            <a class="myButton" href="/Topics/Show/@topic.Id">@Html.Partial("TopicInfoSmall", topic)</a>
                        </div>
                    }
                }


                <br /><br />
            </div>
        }




        @Html.DropDownList("Sortby", new SelectListItem[] { new SelectListItem()
    { Text = "Sort by:", Value = "2" }, new SelectListItem()
    { Text = "Sortare dupa id", Value = "0" }, new SelectListItem()
    { Text = "Sortare dupa nume", Value = "1" }},
    new { onchange = "document.location.href = '/Home/Reorder/' + this.options[this.selectedIndex].value;" })

    </div>

</body>
